<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
	        <rule name="rule1" stopProcessing="true">
                     <match url="^zs/order.htm" />
                     <action type="Rewrite" url="zs/order.php" />
                </rule>

                <rule name="rule2" stopProcessing="true">
                    <match url="^area/([_0-9a-z-]+).htm" />
                    <action type="Rewrite" url="area/show.php?province={R:1}"  />
                </rule>

		<rule name="rule3" stopProcessing="true">
                    <match url="^zs/index.htm" />
                    <action type="Rewrite" url="zs/index.php"  />
                </rule>

                <rule name="rule4" stopProcessing="true">
                    <match url="^zsclass/([_0-9a-z-]+).htm" />
                    <action type="Rewrite" url="zsclass/class.php?b={R:1}"  />
                </rule>
				
		<rule name="rule5" stopProcessing="true">
                    <match url="^zsclass/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zsclass/class.php?b={R:1}&amp;page={R:2}"  />
                </rule>
						
		<rule name="rule6" stopProcessing="true">
                    <match url="^zsclass/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="zsclass/zsclass.php?b={R:1}"  />
                </rule>

		<rule name="rule7" stopProcessing="true">
                    <match url="^zs/zs.htm" />
                    <action type="Rewrite" url="zs/zs.php"  />
                </rule>

                <rule name="rule8" stopProcessing="true">
                    <match url="^zs/([0-9]+).htm" />
                    <action type="Rewrite" url="zs/zs.php?page={R:1}"  />
                </rule>

                <rule name="rule88" stopProcessing="true">
                    <match url="^zs/sx-([0-9]+).htm" />
                    <action type="Rewrite" url="zs/zs_list.php?sx={R:1}"  />
                </rule>
				
		<rule name="rule9" stopProcessing="true">
                    <match url="^zs/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="zs/zs.php?b={R:1}"  />
                </rule>

                <rule name="rule10" stopProcessing="true">
                    <match url="^zs/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zs/zs.php?b={R:1}&amp;page={R:2}"  />
                </rule>

 		<rule name="rule11" stopProcessing="true">
                    <match url="^zs/([_0-9a-z-]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="zs/zs.php?b={R:1}&amp;s={R:2}"  />
                </rule>

                <rule name="rule12" stopProcessing="true">
                    <match url="^zs/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zs/zs.php?b={R:1}&amp;s={R:2}&amp;page={R:3}"  />
                </rule>

                <rule name="rule13" stopProcessing="true">
                    <match url="^zs/show-([0-9]+).htm" />
                    <action type="Rewrite" url="zs/show.php?id={R:1}"  />
                </rule>

                <rule name="rule14" stopProcessing="true">
                    <match url="^sell/zsshow-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/zsshow.php?cpid={R:1}"  />
                </rule>

                <rule name="rule15" stopProcessing="true">
                    <match url="^sell/zs-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/zs.php?id={R:1}"  />
                </rule>

                <rule name="rule16" stopProcessing="true">
                    <match url="^sell/zs-([0-9]+)-([0-9a-z]+).htm" />
                    <action type="Rewrite" url="zt/zs.php?id={R:1}&amp;bigclass={R:2}"  />
                </rule>

                <rule name="rule17" stopProcessing="true">
                    <match url="^sell/zs-([0-9]+)-([a-z0-9]+)-([a-z0-9]+).htm" />
                    <action type="Rewrite" url="zt/zs.php?id={R:1}&amp;bigclass={R:2}&amp;smallclass={R:3}"  />
                </rule>

                <rule name="rule18" stopProcessing="true">
                    <match url="^sell/zs-([0-9]+)-([0-9a-z]+)-([0-9a-z]+)-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/zs.php?id={R:1}&amp;bigclass={R:2}&amp;smallclass={R:3}&amp;page={R:4}"  />
                </rule>

		<rule name="rule19" stopProcessing="true">
                    <match url="^pp/index.htm" />
                    <action type="Rewrite" url="pp/index.php"  />
                </rule>

		<rule name="rule20" stopProcessing="true">
                    <match url="^pp/pp.htm" />
                    <action type="Rewrite" url="pp/pp.php"  />
                </rule>

                <rule name="rule21" stopProcessing="true">
                    <match url="^pp/([0-9]+).htm" />
                    <action type="Rewrite" url="pp/pp.php?page={R:1}"  />
                </rule>
				
		<rule name="rule22" stopProcessing="true">
                    <match url="^pp/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="pp/pp.php?b={R:1}"  />
                </rule>

                <rule name="rule23" stopProcessing="true">
                    <match url="^pp/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="pp/pp.php?b={R:1}&amp;page={R:2}"  />
                </rule>

 		<rule name="rule24" stopProcessing="true">
                    <match url="^pp/([_0-9a-z-]+)/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="pp/pp.php?b={R:1}&amp;s={R:2}"  />
                </rule>

                <rule name="rule25" stopProcessing="true">
                    <match url="^pp/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="pp/pp.php?b={R:1}&amp;s={R:2}&amp;page={R:3}"  />
                </rule>

                <rule name="rule26" stopProcessing="true">
                    <match url="^pp/show-([0-9]+).htm" />
                    <action type="Rewrite" url="pp/show.php?id={R:1}"  />
                </rule>

                <rule name="rule27" stopProcessing="true">
                    <match url="^brand/ppshow-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/ppshow.php?cpid={R:1}"  />
                </rule>

                <rule name="rule28" stopProcessing="true">
                    <match url="^brand/pp-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/pp.php?id={R:1}"  />
                </rule>

                <rule name="rule29" stopProcessing="true">
                    <match url="^brand/pp-([0-9]+)-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/pp.php?id={R:1}&amp;page={R:2}"  />
                </rule>

		<rule name="rule30" stopProcessing="true">
                    <match url="^job/index.htm" />
                    <action type="Rewrite" url="job/index.php"  />
                </rule>

		<rule name="rule31" stopProcessing="true">
                    <match url="^job/job.htm" />
                    <action type="Rewrite" url="job/job.php"  />
                </rule>

                <rule name="rule32" stopProcessing="true">
                    <match url="^job/([0-9]+).htm" />
                    <action type="Rewrite" url="job/job.php?page={R:1}"  />
                </rule>
				
		<rule name="rule33" stopProcessing="true">
                    <match url="^job/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="job/job.php?b={R:1}"  />
                </rule>

                <rule name="rule34" stopProcessing="true">
                    <match url="^job/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="job/job.php?b={R:1}&amp;page={R:2}"  />
                </rule>

 		<rule name="rule35" stopProcessing="true">
                    <match url="^job/([_0-9a-z-]+)/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="job/job.php?b={R:1}&amp;s={R:2}"  />
                </rule>

                <rule name="rule36" stopProcessing="true">
                    <match url="^job/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="job/job.php?b={R:1}&amp;s={R:2}&amp;page={R:3}"  />
                </rule>

                <rule name="rule37" stopProcessing="true">
                    <match url="^job/show-([0-9]+).htm" />
                    <action type="Rewrite" url="job/show.php?id={R:1}"  />
                </rule>

                <rule name="rule38" stopProcessing="true">
                    <match url="^jobs/jobshow-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/jobshow.php?cpid={R:1}"  />
                </rule>

                <rule name="rule39" stopProcessing="true">
                    <match url="^jobs/job-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/job.php?id={R:1}"  />
                </rule>

                <rule name="rule40" stopProcessing="true">
                    <match url="^jobs/job-([0-9]+)-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/job.php?id={R:1}&amp;page={R:2}"  />
                </rule>
				
				<rule name="rule371" stopProcessing="true">
				 <match url="^jobs" />
                    <action type="Rewrite" url="zt/job.php"  />
                </rule>


		<rule name="rule41" stopProcessing="true">
                    <match url="^dl/index.htm" />
                    <action type="Rewrite" url="dl/index.php"  />
                </rule>

		<rule name="rule42" stopProcessing="true">
                    <match url="^dl/dl.htm" />
                    <action type="Rewrite" url="dl/dl.php"  />
                </rule>

   		<rule name="rule43" stopProcessing="true">
                    <match url="^dl/([0-9]+).htm" />
                    <action type="Rewrite" url="dl/dl.php?page={R:1}"  />
                </rule>


                <rule name="rule44" stopProcessing="true">
                    <match url="^dl/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="dl/dl.php?b={R:1}"  />
                </rule>

                <rule name="rule45" stopProcessing="true">
                    <match url="^dl/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="dl/dl.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule46" stopProcessing="true">
                    <match url="^dl/show-([0-9]+).htm" />
                    <action type="Rewrite" url="dl/show.php?id={R:1}"  />
                </rule>

		<rule name="rule47" stopProcessing="true">
                    <match url="^company/index.htm" />
                    <action type="Rewrite" url="company/index.php"  />
                </rule>

		<rule name="rule48" stopProcessing="true">
                    <match url="^company/company.htm" />
                    <action type="Rewrite" url="company/company.php"  />
                </rule>

		<rule name="rule49" stopProcessing="true">
                    <match url="^company/([0-9]+).htm" />
                    <action type="Rewrite" url="company/company.php?page={R:1}"  />
                </rule>

                <rule name="rule50" stopProcessing="true">
                    <match url="^company/([_0-9a-z-]+).htm" />
                    <action type="Rewrite" url="company/company.php?b={R:1}"  />
                </rule>

                <rule name="rule51" stopProcessing="true">
                    <match url="^company/([_0-9a-z-]+)/([0-9]+).html" />
                    <action type="Rewrite" url="company/company.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule52" stopProcessing="true">
                    <match url="^introduce/companyshow-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/companyshow.php?id={R:1}"  />
                </rule>

                <rule name="rule53" stopProcessing="true">
                    <match url="^contact/contact-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/contact.php?id={R:1}"  />
                </rule>

		<rule name="rule54" stopProcessing="true">
                    <match url="^zh/index.htm" />
                    <action type="Rewrite" url="zh/index.php"  />
                </rule>

		<rule name="rule55" stopProcessing="true">
                    <match url="^zh/zh.htm" />
                    <action type="Rewrite" url="zh/zh.php"  />
                </rule>

 		<rule name="rule56" stopProcessing="true">
                    <match url="^zh/([0-9]+).htm" />
                    <action type="Rewrite" url="zh/zh.php?page={R:1}"  />
                </rule>

                <rule name="rule57" stopProcessing="true">
                    <match url="^zh/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="zh/zh.php?b={R:1}"  />
                </rule>

                <rule name="rule58" stopProcessing="true">
                    <match url="^zh/([_0-9a-z-]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zh/zh.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule59" stopProcessing="true">
                    <match url="^zh/show-([0-9]+).htm" />
                    <action type="Rewrite" url="zh/show.php?id={R:1}"  />
                </rule>

		<rule name="rule60" stopProcessing="true">
                    <match url="^zx/index.htm" />
                    <action type="Rewrite" url="zx/index.php"  />
                </rule>

		<rule name="rule61" stopProcessing="true">
                    <match url="^zx/zx.htm" />
                    <action type="Rewrite" url="zx/zx.php"  />
                </rule>

                <rule name="rule62" stopProcessing="true">
                    <match url="^zx/zx-([0-9]+).htm" />
                    <action type="Rewrite" url="zx/zx.php?page={R:1}"  />
                </rule>

                <rule name="rule63" stopProcessing="true">
                    <match url="^zx/([_0-9a-z-]+).html" />
                    <action type="Rewrite" url="zx/zx.php?b={R:1}"  />
                </rule>

                <rule name="rule64" stopProcessing="true">
                    <match url="^zx/class/([0-9a]+)" />
                    <action type="Rewrite" url="zx/zx.php?b={R:1}"  />
                </rule>

                <rule name="rule65" stopProcessing="true">
                    <match url="^zx/([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zx/zx.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule66" stopProcessing="true">
                    <match url="^zx/([0-9]+)/([0-9]+).html" />
                    <action type="Rewrite" url="zx/zx.php?b={R:1}&amp;s={R:2}"  />
                </rule>


                <rule name="rule67" stopProcessing="true">
                    <match url="^zx/([0-9]+)/([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zx/zx.php?b={R:1}&amp;s={R:2}&amp;page={R:3}"  />
                </rule>

                <rule name="rule68" stopProcessing="true">
                    <match url="^zx/show-([0-9]+).htm" />
                    <action type="Rewrite" url="zx/show.php?id={R:1}"  />
                </rule>

                <rule name="rule69" stopProcessing="true">
                    <match url="^zx/show-([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="zx/show.php?id={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule70" stopProcessing="true">
                    <match url="^licence/licence-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/licence.php?id={R:1}"  />
                </rule>

                <rule name="rule71" stopProcessing="true">
                    <match url="^guestbook/liuyan-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/liuyan.php?id={R:1}"  />
                </rule>

                <rule name="rule72" stopProcessing="true">
                    <match url="^zt/show-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/show.php?id={R:1}"  />
                </rule>

                <rule name="rule73" stopProcessing="true">
                    <match url="^news/newsshow-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/newsshow.php?id={R:1}"  />
                </rule>

                <rule name="rule74" stopProcessing="true">
                    <match url="^news/news-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/new.php?id={R:1}"  />
                </rule>

                <rule name="rule75" stopProcessing="true">
                    <match url="^news/news-([0-9]+)-([0-9]+).htm" />
                    <action type="Rewrite" url="zt/new.php?id={R:1}&amp;page={R:2}"  />
                </rule>

		<rule name="rule76" stopProcessing="true">
                    <match url="^help.htm" />
                    <action type="Rewrite" url="one/help.php"  />
                </rule>

		<rule name="rule77" stopProcessing="true">
                    <match url="^link.htm" />
                    <action type="Rewrite" url="one/link.php"  />
                </rule>

                <rule name="rule78" stopProcessing="true">
                    <match url="^siteinfo-([0-9]+).htm" />
                    <action type="Rewrite" url="one/siteinfo.php?id={R:1}"  />
                </rule>

		<rule name="rule79" stopProcessing="true">
                    <match url="^userreg.htm" />
                    <action type="Rewrite" url="reg/userreg.php"  />
                </rule>

		<rule name="rule80" stopProcessing="true">
                    <match url="^user/login.htm" />
                    <action type="Rewrite" url="user/login.php"  />
        </rule>

				<rule name="rule81" stopProcessing="true">
                    <match url="^special/index.htm" />
                    <action type="Rewrite" url="special/index.php"  />
                </rule>

				<rule name="rule82" stopProcessing="true">
                    <match url="^special/special.htm" />
                    <action type="Rewrite" url="special/special.php"  />
                </rule>

                <rule name="rule83" stopProcessing="true">
                    <match url="^special/special-([0-9]+).htm" />
                    <action type="Rewrite" url="special/special.php?page={R:1}"  />
                </rule>

                <rule name="rule84" stopProcessing="true">
                    <match url="^special/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="special/special.php?b={R:1}"  />
                </rule>


                <rule name="rule86" stopProcessing="true">
                    <match url="^special/([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="special/special.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule87" stopProcessing="true">
                    <match url="^special/([0-9]+)/([0-9]+)" />
                    <action type="Rewrite" url="special/special.php?b={R:1}&amp;s={R:2}"  />
                </rule>


				
                <rule name="rule89" stopProcessing="true">
                    <match url="^special/show-([0-9]+).htm" />
                    <action type="Rewrite" url="special/show.php?id={R:1}"  />
                </rule>

                <rule name="rule90" stopProcessing="true">
                    <match url="^special/show-([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="special/show.php?id={R:1}&amp;page={R:2}"  />
                </rule>		
				
				<rule name="rule91" stopProcessing="true">
                    <match url="^wangkan/index.htm" />
                    <action type="Rewrite" url="wangkan/index.php"  />
                </rule>

				<rule name="rule92" stopProcessing="true">
                    <match url="^wangkan/wangkan.htm" />
                    <action type="Rewrite" url="wangkan/wangkan.php"  />
                </rule>

                <rule name="rule93" stopProcessing="true">
                    <match url="^wangkan/wangkan-([0-9]+).htm" />
                    <action type="Rewrite" url="wangkan/wangkan.php?page={R:1}"  />
                </rule>

                <rule name="rule94" stopProcessing="true">
                    <match url="^wangkan/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="wangkan/wangkan.php?b={R:1}"  />
                </rule>


                <rule name="rule95" stopProcessing="true">
                    <match url="^wangkan/([0-9]+)/([0-9]+).htm" />
                    <action type="Rewrite" url="wangkan/wangkan.php?b={R:1}&amp;page={R:2}"  />
                </rule>

                <rule name="rule96" stopProcessing="true">
                    <match url="^wangkan/show-([0-9]+).htm" />
                    <action type="Rewrite" url="wangkan/show.php?id={R:1}"  />
                </rule>
				
				
	
            </rules>
        </rewrite>
    </system.webServer> 	
</configuration>