<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="pagekeywords"/>
<meta name="description" content="pagedescription"/>
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<script src="/js/msgbox.js" type="text/javascript" language="JavaScript"></script>
{#pagesize=100}
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="left">
<div class="station2">
{#station}
</div>
<div class="box"><div class="boxbigclass">{#class}</div></div>
<div class="left_content"> 
{baojia}
<table width="100%" border="0" cellspacing="1" cellpadding="5" class='bgcolor3'> 
  <tr class='bgcolor2'>
    <td width="15%">产品</td>
    <td width="15%"><strong>价格</strong></td>
    <td width="10%"><strong> 联系人</strong></td>
    <td width="15%"><strong>区域</strong></td>
    <td width="12%"><strong>电话 </strong></td>
    <td width="10%"><strong>发布日期</strong></td>
  </tr>
  {loop}
  <tr {changebgcolor}>
    <td>
    {#cp}</td>
    <td>{#price}{#danwei}</td>
    <td>{#name}</td>
    <td>{#province}{#city}{#xiancheng}</td>
	<td>{#tel}</td>
    <td>{#sendtime}</td>
  </tr>
  {/loop}
</table>
<div class="fenyei">{#fenyei}</div>
{/baojia}
 </div>			

</div>
<div class="right">
<div class="titles">发布报价</div>
<div class="content"><a href="/baojia/baojiaadd.php">发布报价</a></div>

</div>
</div>
</div>
{#sitebottom}
</body>
</html>