<div style="height:10px;clear:both;" ></div>
<div class="bottom">
  <div style="color:#999999"><a href="/siteinfo-1.htm">公司简介</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/siteinfo-2.htm">联系方式</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/help.htm">帮助信息</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/link.htm">友情链接</a> </div>
中华人民共和国电信与信息服务业务经营许可证： <a href="http://www.miibeian.gov.cn/" target="_blank">{#icp}</a><br/>
 {#sitename}版权所有 &copy; {#zzcmsver}&nbsp;{#sitecount}<br/>
  {#sitename}只提供交易平台，对具体交易过程不参与也不承担任何责任。望供求双方谨慎交易。
  <a target=blank href=http://wpa.qq.com/msgrd?v=1&uin={#kfqq}&Site={#sitename}&Menu=yes><img border="0" src=http://wpa.qq.com/pa?p=1:{#kfqq}:4 alt="在线客服QQ" /> </a>
</div>