<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="pagekeywords"/>
<meta name="description" content="pagedescription"/>
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<script src="/js/msgbox.js" type="text/javascript" language="JavaScript"></script>
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="left">
<div class="station2">
{#station}
</div>
      <div class="left_content"> 

 </div>			

</div>
<div class="right">
<div class="titles">热门搜索</div>
<div class="content1">
{#keyword:dl,32,4}
</div>
<div class="titles">按代理区域查找</div>
<div class="content1">
{#province:dl,4}
</div>

</div>
</div>
{#sitebottom}
</div>
</body>
</html>
