<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>找回密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script>
$(function(){
$("#getcode_math").click(function(){
		$(this).attr("src",'/one/code_math.php?' + Math.random());
	});
});
</script>
<script language = "JavaScript">
function Checkstep1(){
	if (document.userreg.username.value==""){
	document.userreg.username.style.border = '1px solid #FF0000';
	window.document.getElementById('ts_username').innerHTML="<span class='boxuserreg'>请输入用户名</span>";
	document.userreg.username.focus();
	return false;
	}
	if (document.userreg.username2.value=="no"){//AJAX页中把判断结果，传值yes,no给第二个表单，用来记录表单1的输入值是否正确。
	document.userreg.username.style.border = '1px solid #FF0000';
	return false;
	}
	
	if (document.userreg.yzm.value==""){
	document.userreg.yzm.style.border = '1px solid #FF0000';
	window.document.getElementById('ts_yzm').innerHTML="<span class='boxuserreg'>请输入验证码</span>";
	document.userreg.yzm.focus();	
	return false;
	}
	if (document.userreg.yzm2.value=="no"){
	document.userreg.yzm.style.border = '1px solid #FF0000';
	return false;
	}
}


function Checkstep2(){
	if (document.userreg.yzm_mobile.value==""){
	document.userreg.yzm_mobile.style.border = '1px solid #FF0000';
	window.document.getElementById('ts_yzm_mobile').innerHTML="<span class='boxuserreg'>请输入验证码</span>";
	document.userreg.yzm_mobile.focus();	
	return false;
	}
	if (document.userreg.yzm_mobile2.value=="no"){
	document.userreg.yzm_mobile.style.border = '1px solid #FF0000';
	return false;
	}
}

function Checkstep3(){
	if (document.userreg.password.value==""){
	document.userreg.password.style.border = '1px solid #FF0000';
	window.document.getElementById('ts_password').innerHTML="<span class=boxuserreg>请输入密码</span>";
	document.userreg.password.focus();
	return false;
	}
	if (document.userreg.password2.value=="no"){
	document.userreg.password.style.border = '1px solid #FF0000';
	return false;
	}
	
	if (document.userreg.PwdConfirm.value==""){
	document.userreg.PwdConfirm.style.border = '1px solid #FF0000';
	window.document.getElementById('ts_password2').innerHTML="<span class=boxuserreg>请输入密码</span>";
	document.userreg.PwdConfirm.focus();	
	return false;
	}
	if (document.userreg.PwdConfirm2.value=="no"){
	document.userreg.PwdConfirm.style.border = '1px solid #FF0000';
	return false;
	}
}

function check_yzm(){
if (document.userreg.yzm.value !=""){
   var re=/^([0-9]+)$/; //只输入数字
    	if(document.userreg.yzm.value.search(re)==-1){
		window.document.getElementById('ts_yzm').innerHTML="<span class='boxuserreg'>验证码答案只能为数字</span>";
		window.document.userreg.yzm2.value='no';
		}else{
		window.document.getElementById('ts_yzm').innerHTML='';
		window.document.userreg.yzm2.value='yes';
		window.document.userreg.yzm.style.border = '1px solid #dddddd';
		}
}
}

function check_password_format(){ 
	if (document.userreg.password.value !=""){
    	var re=/^[0-9a-zA-Z]{4,50}$/; //只输入数字和字母的正则
    	if(document.userreg.password.value.search(re)==-1){
		window.document.getElementById('ts_password').innerHTML="<span class=boxuserreg>密码只能为字母和数字，字符介于4到50个。</span>";
		window.document.userreg.password2.value='no';
		}else{
		window.document.getElementById('ts_password').innerHTML='<img src=/image/dui2.png>';
		window.document.userreg.password2.value='yes';
		window.document.userreg.password.style.border = '1px solid #dddddd';
		}
	}	
}
function check_password2_format(){
if (document.userreg.password.value !="" && document.userreg.PwdConfirm.value !=""){
	if (document.userreg.password.value!=document.userreg.PwdConfirm.value){
	window.document.getElementById('ts_password2').innerHTML="<span class=boxuserreg>两次密码输入不一致，请重新输入。</span>";
	window.document.userreg.PwdConfirm2.value='no';
	}else{
	window.document.getElementById('ts_password2').innerHTML='<img src=/image/dui2.png>';
	window.document.userreg.PwdConfirm2.value='yes';
	window.document.userreg.PwdConfirm.style.border = '1px solid #dddddd';
	}
}
}

var wait=60;
function time(o) {
		if (wait == 0) {
			o.removeAttribute("disabled");			
			o.value="获取验证码";
			wait = 60;
		} else {
			o.setAttribute("disabled", true);
			o.value="重新发送(" + wait + ")";
			wait--;
			setTimeout(function() {
				time(o)
			},
			1000)
		}
	}
//document.getElementById("sendyzm").onclick=function(){time(this);} 
</script>

<script language="javascript"> 
$(document).ready(function(){  
	$("#username").blur(function() { //jquery 中blur,change函数  
	$("#ts_username").load(encodeURI("/ajax/check_username_ajax.php?id="+$("#username").val()));
	//jqueryajax中load()函数 加encodeURI，否则IE下无法识别中文参数 
	});
	
	$("#yzm_mobile").blur(function() { //jquery 中blur,change函数  
	$("#ts_yzm_mobile").load(encodeURI("/ajax/yzm_check_ajax.php?id="+$("#yzm_mobile").val()));
	}); 
	
	$("#getpass_method").change(function() { //jquery 中blur,change函数  
	$("#ts_getpass_method").load(encodeURI("/ajax/getpass_method_ajax.php?id="+$("#getpass_method").val()));
	}); 
	
	$("#sendyzm").click(function() { //jquery 中blur,change函数  
	$("#ts_yzm_mobile").load(encodeURI("/ajax/send_yzm_ajax.php"));
	}); 
	
});  
</script> 
</head>
<body>

<div class="main" >
{#sitetop}
<div class="bordercccccc">
<div class="titlebig">找回密码</div>
{step1}

<div class="getpass_step bigbigword">
<li class="current"><span>1</span> 确认帐号</li>
<li><span>2</span> 进行安全验证</li>
<li><span>3</span> 设置新密码</li>
</div>
<div style="clear:both"></div>

<div class="biaodanstyle">
<form name="userreg" method="post" action="" style="padding:13px" onsubmit="return Checkstep1()"> 
 <li><span class="lefttext">请输入您的用户名</span>
      <input name="username" id="username"  type="text" class="biaodan"  size="20" maxlength="50" />
      <input name="username2" id="username2" style="display:none" />
		  <span id="ts_username"></span>
	  <input name="action" type="hidden" value="step1" />  </li>    
 <li> <span class="lefttext">验证码</span>   
      <input name="yzm"  id="yzm" type="text" class="biaodan"  onblur="check_yzm()"  value="" size="10" maxlength="50" style="width:60px"/>
	  <input name="yzm2" id="yzm2" style="display:none" />
			<span id="ts_yzm"></span>
      <img src="/one/code_math.php" height="30px" align="absmiddle" id="getcode_math" title="看不清，点击换一张" /></li>
     <li>  <span class="lefttext">&nbsp;</span>  <input name="submit" type="submit" value="下一步" class="button_big"/></li>
  
  </form></div>
  
  {/step1} 

{step2}
<div class="getpass_step bigbigword">
<li><span>1</span> 确认帐号</li>
<li class="current"><span>2</span> 进行安全验证</li>
<li><span>3</span> 设置新密码</li>
</div>
<div style="clear:both"></div>
<div class="biaodanstyle">
<form name="userreg" method="post" action="" style="padding:13px" onsubmit="return Checkstep2()">
<li><span class="lefttext">验证方式</span>
  
 
  {#getpass_method}
  <span id="ts_getpass_method"></span></li> 
<li><span class="lefttext">验证码</span>
<input name="yzm_mobile" id="yzm_mobile"type="text" class="biaodan"  size="20" maxlength="50" style="width:60px"/>
<input name="yzm_mobile2" id="yzm_mobile2" style="display:none" />
<span id="ts_yzm_mobile"></span>
<input name="sendyzm" type="button" id="sendyzm" value="获取验证码"  onclick="time(this)"/></li> 
<input name="action" type="hidden" value="step2" />      
</li>
<li><span class="lefttext">&nbsp;</span>
<input name="submit2" type="submit" value="下一步" class="button_big"/></li>
</form>
</div>
{/step2} 

{step3}
<div class="getpass_step bigbigword">
<li><span>1</span> 确认帐号</li>
<li><span>2</span> 进行安全验证</li>
<li class="current"><span>3</span> 设置新密码</li>
</div>
<div style="clear:both"></div>
<div class="biaodanstyle">
<form name="userreg" method="post" action="" style="padding:13px" onsubmit="return Checkstep3()">
<li><span class="lefttext">新密码</span>
    <input name="password" id="password" type="text" class="biaodan" onblur="check_password_format()"  size="20" maxlength="50" />
	<input name="password2" id="password2" style="display:none" />
<span id="ts_password"></span>
    <input name="action" type="hidden" value="step3" />      
</li>
<li><span class="lefttext">确认新密码</span>
    <input name="PwdConfirm" id="PwdConfirm"  type="text" class="biaodan"  onblur="check_password2_format()"  size="20" maxlength="50" />
	<input name="PwdConfirm2" id="PwdConfirm2" style="display:none" />
<span id="ts_password2"></span>
</li>
<li><span class="lefttext">&nbsp;</span>
    <input name="submit" type="submit" value="确定" class="button_big"/>
</li>
</form>
</div>
{/step3}

{step4}
<form name="userreg" method="post" action="/user/login.htm" style="padding:13px" onsubmit="return CheckForm()">
  <span class="bigbigword"><img src="/image/dui.gif" /><br/>
  恭喜，{#username}帐号重置密码成功<br /></span>
  <input name="submit3" type="submit" value="登录" class="button_big"/>
</form>
{/step4}

</div>
</div>
{#sitebottom}
</body>
</html>