<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta content="{#pagedescription}" name="description" />
<meta content="{#pagekeywords}" name="keywords" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/qt.js"></script> 
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="right"> 
<div class="titles"> 热门品牌</div>
<div class="content1">
{@ppshow.hot}			
</div>


</div>
<div class="left"> 
<div class="station2">
{#station}
 
</div>
<div class="left_content">
<form action="?" method="get" name="myform" id="myform">
  <table border="0" cellpadding="7" cellspacing="0">
    <tr>
      <td width="98" align="right">关键词：</td>
      <td width="435"><input type="radio" name="yiju" value="Pname">
        按名称
          <input name="yiju" type="radio" value="Pcompany" />
        按企业
        <input name="keyword" type="text"  id="keyword" value="{#formkeyword}" size="25" maxlength="255"/>
        <input name="Submit3" type="submit"  value="搜索"></td>
    </tr>

    <tr>
      <td align="right">类别：</td>
      <td>{#formbigclass}{#formsmallclass} </td>
    </tr>

    {#selected}
  </table>
  </form>
</div>
<div class="content">
{loop}
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td width="150" rowspan="2"><div class="bordercccccc" style="padding:4px;text-align:center"><a href="{#url}" target="_blank"> <img src="{#img}" alt="{#title}" width="120" height="40"  border="0" /></a></div></td>
    <td width="465"><a href="{#url}" target="_blank" style="font-weight:bold"> {#title}</a></td>
    <td width="658" rowspan="2" align="right">更新时间：{#sendtime}</td>
  </tr>
  <tr>
    <td><a href="{#companyurl}" target="_blank" >{#comane}</a></td>
  </tr>
</table>
<div class='boxxian'></div>
{/loop}
<div class="fenyei">{#fenyei}</div>
</div>
		
</div>
</div>
{#sitebottom}
</div>
</body>
</html>