<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="{#pagekeywords}" />
<meta name="description" content="{#pagedescription}" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main">
{#sitetop}
<div class="pagebody">
<div class="left">
<div class="station2">
<span>{#showselectpage}</span>
{#station}
</div>
<div class="content2">
{loop}
<ul>
<li style='font-size:14px;margin:6px 0;'><span title='发布时间'>{#sendtime}</span>{#listimg}<a href='{#link}'>{#title}</a>{#shuxing}</li>
</ul>
{/loop}
</div>

<div class='fenyei'>{#fenyei}</div>

</div>
<div class="right">

<div class="titles"> 热门资讯</div>
      <div class="content1"> {@specialshow.showzxhot} </div>

<div class="titles"> 最近更新</div>
      <div class="content1"> {@specialshow.showzxnew} </div>

</div>
</div>
</div>
{#sitebottom}
</body>
</html>