<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="{#pagekeywords}" />
<meta name="description" content="{#pagedescription}" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="left">
<div style="margin-bottom:8px">
{#sj}
</div>
<div id="leftleft">
{@adshow.zhflash}
</div>

<div id="leftright">
<div class="boxtop2">
{@zhshow.new2}
</div>
</div>

<div style="clear:both"></div>

{@zhclass.zhitem}

</div>

<div class="right"> 
<div class="titles">展会承办单位</a></div>
<div class="content1">
{@companyshow.zhgs}
</div>
<div class="titles">展馆介绍</div>
<div class="content1" style="padding:3px">
{@zxshow.zhanguan}
</div>
<script language="JavaScript" type="text/javascript" src="imgadv.php?classname=展会频道右侧&row=1&showborder=0&showtitle=0"></script>
</div>
</div>
{#sitebottom}
</div>
</body>
</html>