<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="{#pagekeywords}"/>
<meta name="description" content="{#pagedescription}"/>
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="left">
<div class="station2">
 <span>

</span>
{#station}
</div>
<div class="left_content">
<form name="form1" method="get" action="?">
          <table border="0" cellspacing="0" cellpadding="8">
            <tr> 
              <td width="100" align="right">关 键 词：</td>
              <td> <input name="keyword" type="text" id="keyword5" value="{#keyword}" size="50" maxlength="200"/></td>
            </tr>
            <tr> 
              <td align="right">所属类别：</td>
              <td>  <select name='b' id='b'>
			   {#formbigclass}
                </select> </td>
            </tr>
            <tr> 
              <td align="right">展会地点：</td>
              <td><select name='province' id='province'>{#formprovince} </select></td>
            </tr>
            <tr> 
              <td align="right">展会时间：</td>
              <td><select name="sj" id="sj">
                  {#formsj}
                </select></td>
            </tr>
            <tr> 
              <td align="right">&nbsp;</td>
              <td><input type="submit" name="Submit" value="搜索" /></td>
            </tr>
          </table>
        </form>
</div>

<div class="left_content">

{loop}
<div class='bigword'> 【展会】<a href='{#zhurl}'>{#title}</a></div>
<div class='InfoContent'>展会时间：{#timestart}至{#timeend}<br />展会地点：{#address}</div>
{/loop}
<div class='fenyei'>{#fenyei}</div> 

     
</div>
</div>
<div class="right">
<div class="titles"> 按展会时间搜索</div>
<div class="content1">
{#sj}     
</div>

<div class="titles"> 按展会地点搜索</div>
<div class="content1">
{#province:zh,5}     
</div>
</div>
</div>
{#sitebottom}
</div>
</body>
</html>