<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta content="{#pagedescription}" name="description" />
<meta content="{#pagekeywords}" name="keywords" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<link href="/template/{#siteskin}/jdimg4.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jdimg4.js"></script>
</head>
<body>
{#sitetop}
<div class="main">
{@adshow.zsclass_top}
<div class="pagebody">
<div class="left">
<ul>
<li id="leftleft">
<div class="titles">最新{#bigclassname}</div>
<div class="content1">{@zsshow.new2}</div>
</li>
<li id="leftright">
{@zsshow.jdimg4}
</li>
</ul>
</div>
<div class="right">
<div class="titles">热门{#bigclassname}</div>
<div class="content1">
{@zsshow.hot}
</div>

</div>
</div>

<div class="pagebody"> 
<div class='titlezs'><span>{#zssmallclass:10}</span><h3>{#bigclass}</h3></div>  		  
<div class="content1">
{@zsshow.showzsimg}        
</div>
</div>
{#sitebottom}
</div>
</body>
</html>