<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta content="{#pagedescription}" name="description" />
<meta content="{#pagekeywords}" name="keywords" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody"> 
{@zsclass.zsitem}
</div>     
{#sitebottom}
</div>
</body>
</html>