<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{#pagetitle}</title>
<meta name="keywords" content="{#pagekeywords}" />
<meta name="description" content="{#pagedescription}" />
<link href="/template/{#siteskin}/style.css" rel="stylesheet" type="text/css">
<link href="/template/{#siteskin}/jdimg.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jdimg.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  	$.focus("#focus001");
		$.focus("#focus002");
	});
</script>
<style type="text/css">
.focus {width:300px; height:240px;}
.focus img{border:0;width:300px; height:240px;}
.focus ul li {width:300px; height:300px;  }
.focus .btnBg {background-color:#cccccc; display:block;}
.focus .btnBg {width:300px;}
.focus .btn {width:300px;}
</style>
</head>
<body>
{#sitetop}
<div class="main">
<div class="pagebody">
<div class="left">
<div class="boxtop">
<div class="boxtoptitle">最近更新</div>
{@zxshow.img2}</div>
</div>
<div class="right">
<div class="titles">热门资讯</div>
<div class="content1">{@zxshow.showzxhot}</div>
{@zxshow.jdimg2}      
</div>
</div>
<div class="pagebody">
<div class="titles">{#bigclassname}</div>
<div class="content1">
{@zxshow.showzximg}
</div>
</div>
{@zxclass.zxitem_s}
<div class="box" style="margin-top:8px">
声明：本站部分图文内容取自互联网。您若发现有侵犯您著作权行为，请及时告知，我们将在第一时间删除侵权作品、停止继续传播。
</div>
{#sitebottom}
</div>
</body>
</html>