{template header}

<script src="js/common.js" type="text/javascript"></script>

<div class="container">
	<h3>{lang cache_update}</h3>
	<!--{if $updated}-->
		<div class="correctmsg"><p>{lang update_succeed}</p></div>
	<!--{/if}-->
	<div class="mainbox">
		<form action="admin.php?m=cache&a=update" method="post">
			<input type="hidden" name="formhash" value="{FORMHASH}">
			<table class="datalist fixwidth" onmouseover="addMouseEvent(this);">
				<tr>
					<td class="option"><input type="checkbox" name="type[]" value="data" class="checkbox" checked="checked" /></td>
					<td>{lang cache_update_data}</td>
				</tr>
				<tr>
					<td class="option"><input type="checkbox" name="type[]" value="tpl" class="checkbox" /></td>
					<td>{lang cache_update_tpl}</td>
				</tr>
				<tr class="nobg">
					<td colspan="2"><input type="submit" value="{lang submit}" class="btn" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>

{template footer}