{template m/header}
<body>
<div class="warp">
    <div id="header"></div>
    <div id="refreshWait" class="loading mt10" style="display:none;">
            <div class="loadInco">
                <span class="blockG" id="rotateG_01"></span>
                <span class="blockG" id="rotateG_02"></span>
                <span class="blockG" id="rotateG_03"></span>
                <span class="blockG" id="rotateG_04"></span>
                <span class="blockG" id="rotateG_05"></span>
                <span class="blockG" id="rotateG_06"></span>
                <span class="blockG" id="rotateG_07"></span>
                <span class="blockG" id="rotateG_08"></span>
            </div>{lang m_loading}
    </div>
    <div id="container" class="container"></div>
	  <div class="loading" id="loadNext" style="display:none;">
            <div class="loadInco">
                <span class="blockG" id="rotateG_01"></span>
                <span class="blockG" id="rotateG_02"></span>
                <span class="blockG" id="rotateG_03"></span>
                <span class="blockG" id="rotateG_04"></span>
                <span class="blockG" id="rotateG_05"></span>
                <span class="blockG" id="rotateG_06"></span>
                <span class="blockG" id="rotateG_07"></span>
                <span class="blockG" id="rotateG_08"></span>
            </div>{lang m_loading}
        </div>
        <div id='loadNextPos'></div>
        <div class="loading" id="showAll" style="display:none;">{lang m_its_all}</div>
</div>
<div id="backToTopBtn" class="floatLayer db" style="display:none;"><a href="javascript:;" class="upBtn db"></a></div>
<div class="bottomBar">
    <div class="bottomBarCon">
        <a href="javascript:;" class="backBtn"><i class="iconAnswer commF back db"></i></a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function (){
        TC.load("mythread.htm");
        JC.file("secure.js");
        JC.file("navmenu.js");
    	JC.file("quickreply.js");
        JC.file("mythread.js");
        JC.run();
    };
</script>
{template m/footer}
