<div class="tbn">
	<h2 class="mt bbda">{lang setup}</h2>
	<ul>
		<li$actives[avatar]><a href="home.php?mod=spacecp&ac=avatar">{lang memcp_avatar}</a></li>
		<li$actives[profile]><a href="home.php?mod=spacecp&ac=profile">{lang memcp_profile}</a></li>
		<!--{if $_G['setting']['verify']['enabled'] && allowverify()}-->
			<li$actives[verify]><a href="{if $_G['setting']['verify']['enabled']}home.php?mod=spacecp&ac=profile&op=verify{else}home.php?mod=spacecp&ac=videophoto{/if}">{lang memcp_verify}</a></li>
		<!--{/if}-->
		<li$actives[credit]><a href="home.php?mod=spacecp&ac=credit">{lang memcp_credit}</a></li>
		<li$actives[usergroup]><a href="home.php?mod=spacecp&ac=usergroup">{lang memcp_usergroup}</a></li>
		<li$actives[privacy]><a href="home.php?mod=spacecp&ac=privacy">{lang memcp_privacy}</a></li>
		
		<!--{if $_G['setting']['sendmailday']}--><li$actives[sendmail]><a href="home.php?mod=spacecp&ac=sendmail">{lang memcp_sendmail}</a></li><!--{/if}-->
		<li$actives[password]><a href="home.php?mod=spacecp&ac=profile&op=password">{lang password_security}</a></li>

		<!--{if $_G['setting']['creditspolicy']['promotion_visit'] || $_G['setting']['creditspolicy']['promotion_register']}-->
		<li$actives[promotion]><a href="home.php?mod=spacecp&ac=promotion">{lang memcp_promotion}</a></li>
		<!--{/if}-->
		<!--{if !empty($_G['setting']['plugins']['spacecp'])}-->
			<!--{loop $_G['setting']['plugins']['spacecp'] $id $module}-->
				<!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}--><li{if $_GET[id] == $id} class="a"{/if}><a href="home.php?mod=spacecp&ac=plugin&id=$id">$module[name]</a></li><!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
	</ul>
</div>