<!--{template common/header}-->
<div style="width:130px">
	<ul class="bbda mbn pbn">
		<!--{loop $_G['setting']['extcredits'] $extcreditid $extcredit}--><!--{if empty($extcredit['hiddeninheader'])}-->
			<li>{$extcredit[img]} $extcredit[title]: <span id="hcredit_$extcreditid"><!--{echo getuserprofile('extcredits'.$extcreditid);}-->{$extcredit[unit]}</span></li><!--{/if}-->
		<!--{/loop}-->
		<!--{hook/spacecp_credit_extra}-->
	</ul>
	<!--{if ($_G['setting']['ec_ratio'] && ($_G['setting']['ec_tenpay_opentrans_chnid'] || $_G['setting'][ec_tenpay_bargainor] || $_G['setting']['ec_account'])) || $_G['setting']['card']['open']}-->
		<div onclick="location.href='home.php?mod=spacecp&ac=credit&op=buy'" class="xi2 pbn" align="right"><label>{lang recharge_immediately}&raquo;</label></div>
	<!--{/if}-->
</div>
<!--{template common/footer}-->
