<div class="bm"><div class="bm_h cl"><a href="javascript:;" onclick="$('ip_notice').style.display='none';setcookie('lip', '', -1);" class="y" title="{lang close}">{lang close}</a>
<h2>{lang ipnoice_title}</h2></div><div class="bm_c">
<dl class="xld cl bbda">
<dd>{lang ipnoice_current} {$status['lastip']} $nowipConvert<br />{lang ipnoice_last} {$lip[0]} $lastipConvert<br />{lang ipnoice_lasttime} $lastipDate</dd>
</dl>
<p class="ptn cl"><a href="home.php?mod=spacecp&ac=profile&op=password" onclick="$('ip_notice').style.display='none';setcookie('lip', '', -1);" class="xi2 y" target="_blank">{lang ipnoice_link} &raquo;</a></p>
</div>
</div>
