@charset "utf-8";
div, address, blockquote, iframe, ul, ol,h1, h2, h3, h4, h5, h6, p, pre, caption,form, legend, fieldset, textarea{margin: 0;padding: 0;font-weight: normal;font-style: normal;font-family: inherit;font-size: 100%;}
ul,li{list-style:none;}
td {font-size: 9pt;line-height: 18px;}
body{font-size: 9pt;background-color: #FFFFFF;margin: 0px;font-family: Arial, Helvetica, sans-serif,宋体,simsun;}
a{color: #025BAD;text-decoration: none;}
a:hover {color: #025BAD;text-decoration: underline;}
/*主容器*/
.main{width:1100px;margin:0 auto;text-align:left;background-color:#FFFFFF;}
.pagebody {width: 100%}
.left {width: 180px;float: left;}
.right {width: 910px;float: right;background-color: #B4CCEB;}
.lefttitle{
	background-image: url(image/lefttitle.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border:solid 1px #C9DEFA;
	border-bottom-width:0px;
	padding:3px 0 0 0px;
	height:25px;
	line-height:25px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#025bad

}
.leftcontent{
	border-left:solid 1px #C9DEFA;
	border-right:solid 1px #C9DEFA;
	background-color: #E4EDF9;
	margin-bottom:0px
}
.leftcontent li { 
	color: #b4cceb; 
	background:url("image/x.gif") no-repeat; 
	background-position: center top;
	height:25px; 
	line-height:25px;
	text-align:center;
}
.border {
	background-color: #E4EDF9;
	font-size: 9pt;
	line-height: 19px;
	color: #135294;
	border: 1px solid #FFFFFF;
}
.border2 {
	background-color: #F1F1F1;
	font-size: 9pt;
	line-height: 19px;
	border: 1px solid #FFFFFF;
	color: #135294;
}
.border3{background-color: #FFF;border: 1px solid #B4CCEB;}
.fenyei {
	text-align: right;
	padding:5px;
	background:#e4edf9;	
}
.admintitle {
	font-size: 9pt;
	font-weight: bold;
	color: #025bad;
	text-align: left;
	background:url(image/lefttitle.gif);
	border:solid 1px #b4cceb;border-bottom:0px;	
	padding:5px;
	line-height:25px;
	
}
.admintitle span{
float:right;font-weight: normal;
}
.px14 {
	font-size: 14px;
	line-height: 25px;
}
.tstitle {
	background-color: #025BAD;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	height: 25px;
}
.docolor {
	color: #CCCCCC;
}
.buttons {
	border: 1px solid #CC9900;
	background-image: url(image/buttonbg2.gif);
	background-repeat: repeat-x;
	padding: 2px;
	color: #993300;
	background-color: #FFE57F;
	cursor: hand;

}
.textbg {background-color: #999;border:0px;height:25px;line-height:25px;cursor: hand;color: #FFF;font-family: "微软雅黑";-webkit-border-radius: 12px;-moz-border-radius:12px;padding:0px 6px}

.button_big {background-image: url(image/big_button.gif);background-repeat: no-repeat;height: 41px;width: 170px;border: 0px none;cursor: hand;font-size: 14px;font-weight: bolder;color: #FFF;padding-bottom: 8px;letter-spacing: 0.1em;}


.help {
	cursor: help;
}
.userbar {
	background-image: url(image/bg2.gif);
	background-repeat: repeat-x;
	height: 26px;
	color: #025bad;
	padding:3px 10px;
}
.menu { background:#337ABB url("image/manage_top_bg.gif");height:50px}
.system_logo { float:left; height:40px;width:200px;margin:3px 0 0 5px;background:url("image/logo.gif") no-repeat 0 0}
/*- Menu Tabs 6--------------------------- */

#tabs {
  float:left;
  width:auto;
  line-height:16px;
  }
#tabs ul {
  margin:0;
  padding:14px 10px 0 0px !important;
  *padding:14px 10px 0 0px !important;
  padding:14px 10px 0 0px;
  list-style:none;
  }
#tabs li {
float:left;
  display:block;
  margin:0 3px;
  padding:0;
  }
#tabs a {
  float:left;
  background:url("image/manage_tab.gif") no-repeat;
  background-position:left -40px;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  font-size:14px;
font-weight:bold;
  color:#E2EDFC;
 }
#tabs a span {
  float:left;
  display:block;
  background:url("image/manage_tab.gif") no-repeat right top;
  padding:8px 12px 8px 10px;
	color:#E2EDFC;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */

#tabs a:hover {
  color:#FFF;
  }
#tabs a:hover span {

  color:#FFF;
  }
.bgcolor {
	background-color: #6699CC;
}
.bgcolor1 {
	background-color: #FFF;
}
.borderforimg {
	border: 1px solid #999999;
	cursor: hand;
	background-color: #FFFFFF;
}
.box{margin:1px;padding:10px;background-color:#FFF}
.center{text-align:center}
.biaodan {border: 1px solid #b4cceb;}
.fieldsetstyle{border:solid 1px #b4cceb;padding:5px;-webkit-border-radius: 3px;-moz-border-radius:3px;}
